<p id="DateLastAccess">{{detalle}}</p>
<h1>{{titulo}}</h1>

<div id="product-list">

    {{#each prodss}}
    <div class="divCardItem" style="display: flex; justify-content: center; align-items: center;">
        <div class="CardItem" style="max-width: 300px;">
            <div style="position: relative;">
                {{#if status}}
                <p>Disponible: Si</p>
                {{else}}
                <p>Disponible: No</p>
                {{/if }}
            </div>
            <div class="Header">
                {{#if thumbnails.length}}
                {{#each thumbnails}}
                <img src="{{urlmain}}" alt="{{title}}" style="border-radius: 12px;" class="ImgPic" />
                {{/each}}
                {{else}}
                <img src="https://media.istockphoto.com/id/1216251206/vector/no-image-available-icon.jpg?s=612x612&w=0&k=20&c=6C0wzKp_NZgexxoECc8HD4jRpXATfcu__peSYecAwt0="
                    alt="Sin Imagen" style="border-radius: 12px;" class="ImgPic" />
                {{/if}}
                <div class="ItemData" style="margin-top: 24px; spacing: 12px;">
                    <p>{{category}}</p>
                    <h3 style="font-size: 1.5rem;">{{title}} - {{code}}</h3>
                    {{#if detalle}}
                    <p>{{description}}</p>
                    {{else}}
                    {{/if}}
                    <p style="color: #007BFF; font-size: 24px;">Price: $ {{price}}</p>
                </div>
            </div>
            <div class="ItemCardFooter">
            </div>
        </div>
    </div>
    {{/each}}
</div>

<script defer src="js/index.js"></script>